@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  /* background: #f0f3ff; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .react-responsive-modal-modal {
  width: 500px !important;
} */

.react-datetime-picker__inputGroup {
  padding: 10px 10px !important;
}

.react-datetime-picker__wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  border: none !important;
}

body::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(218, 213, 204); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(200, 200, 220); /* color of the scroll thumb */
  border-radius: 0px; /* roundness of the scroll thumb */
  border: 3px solid rgb(36, 41, 186); /* creates padding around scroll thumb */
}
